.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.form__header {
    align-self: flex-start;
    flex-basis: 100%;
    border-bottom: 1px solid #eee;
    padding: 20px;
    margin: 0px; 
} 

.form__input {
    align-self: flex-start;
    flex-grow: 2;
    padding: 10px;
    margin: 20px;
    border: 1px solid #eee;
} 

.form__input:hover {
    border: 1px solid rgb(172, 171, 171);
}

.form__button {
    color: white;
    background-color: teal;
    border: none;
    padding: 10px;
    align-self: center;
    margin: 20px;
}

@media  (max-width: 767px) {
    .form__button {
        width: 100%;
        margin-top: 0px;
    }
}